.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.login-form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    padding-top: 2em;
    flex-direction: column;
    gap: 2em;
    width: 300px;
    margin-top: 5em;
    border-radius:20px;
    background: -webkit-linear-gradient(rgb(0,122,246),rgb(2, 77, 153));
    
}
.email{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;

}
.password{
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    
}
.login-form>p{
    font-size: 15px;
}
.login-form>p>span{
    color: gold;
}
.login-form>button{
    width: 25%;
    height: 10%;
    background:rgba(19, 47, 76, 0.474);
    cursor: pointer;
    color: white;
    border: none;
    border: 1px solid rgb(0,127,255);
border-radius: 5px;
transition: all 0.5s;
}

.login-form>button:hover{
   background: -webkit-linear-gradient(gold, rgb(255, 136, 0));
    color: rgb(10,25,41);;
    
}

.label{
    margin: 0;
    font-size: small;
    
}
.email-box,
.password-box{
    width: 85%;
}