*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   max-width: 100%;
   /* background-color: rgb(10,25,41); */
}
a{
    text-decoration: none;
    color: gold;
}
